#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    margin: 20px;
}

.character-card {
    border: 1px solid #0e0101;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
   
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}